
body {
	font: large/1.5em monospace;
	margin: 0;
	text-align: center;
}

.centralbox {
	display: inline-block;
	min-width: 768px;
	width: 40%;
}

@media only screen and (max-width: 768px) {
	.centralbox {
		min-width: 100%;
	}
}

.middlebox {
	display: flex;
	overflow: auto hidden;
}

.styledbox {
	color: aliceblue;
	margin: 15px;
	padding: 10px;
	position: relative;
	text-shadow: 1px 1px darkslategray;
 	min-width: 142px;
	flex: 1;
}

.middlebox > .styledbox {
	text-align: left;
}

.bgaccen {
	color: black;
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: -99;
}

h1 {
	color: black;
	font-family: serif;
	font-size: 36px;
	font-style: italic;
	letter-spacing: 0.085em;
	line-height: 1.5em;
	margin: 0;
	word-break: break-word;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: left;
}

a {
	color: lavender;
}

a:hover {
	color: aliceblue;
}
