body {
  font-family: "Roboto Mono", monospaced;
  font-weight: 300;
  line-height: 1.5em;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-family: sans;
  font-size: 36px;
  font-style: italic;
  letter-spacing: 0.085em;
  line-height: 1.5em;
  word-break: break-word;
  margin: 0;
  color: black;
}

.nr {
  color: springgreen;
  text-shadow: 1px 2px black;
}

.containerbox {
  display: flex;
  width: 100%;
  overflow:hidden;
  overflow-x:auto;
}

@media only screen and (min-width: 768px) {
  .containerbox {
    max-width: 768px;
  }
}

.styledbox {
  display: flex;
  flex-direction:column;
  justify-content: center;
  padding: 10px;
  border-style: outset;
  border-color: black;
  position: relative;
  margin: 15px;
  width: 100%;
  min-width: 100px;
  color: aliceblue;
}

.boxborder1::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%
  border-top: 5px outset black;
  border-right: 5px outset black;
  top: -5px;
  left: 0;
}

.boxborder2::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 5px outset black;
  border-left: 5px outset black;
  top: 0;
  left: -5px;
}

.boxborder3::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%
  border-bottom: 5px outset black;
  border-right: 5px outset black;
  top: 0;
  left: 0;
}

.styledbox > a {
  color: lavender;
}

.styledbox > a:hover {
  color: aliceblue;
}

.bgaccen {
  width: 100%;
  height: 100%;
  z-index: -99;
  position: absolute;
}

